body {
    margin: 0;
    color: rgb(49, 39, 20);


}

/*---------------------------仮------------------------------*/
#wrap {
    height: 100%;
}

header {
    background-color: #ffd6ff;
}

#sidenavi {
    float: left;
    width: 20%;
    height: 100%;
    position: fixed;
}

#contents {
    float: right;
    width: 80%;

}

footer {
    clear: both;
    background-color: #312714;
    color: #fff;
    text-align: center;


}

/*-----------------------sidenavi----------------------------------*/


h1 {
    text-align: center;
    margin: 0;
}

ul {
    list-style: none;
}

nav ul {
    padding: 15px;
}

.nav li {
    background-color: #312714;
    border-radius: 15px;
    text-align: center;
    font-family: serif;
    margin: 10px;
    font-size: 1.5em;
}

.nav li:hover {
    background-color: rgba(49, 39, 20, 0.44);
}

.nav li a {
    text-decoration: none;
    color: #eaeaea;
}

#mailpanf a,
p.favo a {
    text-decoration: none;
}


.subnav,
.nav {
    margin: 0;
}

.ultitle {
    text-align: center;
    font-weight: 700;
}

.tel {
    text-align: center;
    font-size: 1.3em;
    font-weight: 500;
}

#mailpanf {
    display: flex;
    justify-content: center;
}

p.mail,
p.panf {
    border: 2px solid rgb(49, 39, 20);
    border-radius: 15px;
    width: 40%;
    margin: 2%;
    font-weight: 700;
    text-align: center;
}

p.mail a,
p.panf a,
p.favo a {
    color: #000;
}


/*p.mail :hover,
p.panf :hover {
    background-color: #312714;
}*/

p.panf img {
    width: 60%;
    padding: 5%;

}

p.mail img {
    width: 80%;
    padding: 5%;
}

nav p.favo {
    width: 90%;
    text-align: center;
    border: 2px solid rgb(49, 39, 20);
    margin: 2%;
    border-radius: 15px;
    font-weight: 600;
    padding-left: 5%;
}

/*--------------------------------contents------------------------------*/
#contents img {

    width: 100%;
}

/*-----------------------------------------一括編集------------------------------------------*/
h2 {
    border: 2px solid rgba(49, 39, 20, 0.24);
    border-left-width: 20px;
    border-right-style: none;
    padding: 5px 10px;
    clear: left;
}

/*-----------------------------------------search------------------------------------------*/
#search {
    padding: 10px;

}

.search2 {
    margin-top: 40px;
}

#search img.ika {
    width: 50%;
    float: left;

}

.search2 p {
    background-color: rgba(49, 39, 20, 0.35);
    font-size: 1.3em;
    padding-left: 20px;



}

.search2 p:hover {}

.hoka a {
    float: right;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    background-color: rgb(49, 39, 20);
    margin: 10px;
    padding: 10px;
    border-radius: 30px;

}

/*-----------------------------------------new------------------------------------------*/
.new1 {
    display: flex;
}

.new1 a {
    text-decoration: none;
    color: rgb(49, 39, 20);
    margin: 10px;
    transition: all 1s ease;
}

.new1 a:hover {
    background-color: rgb(49, 39, 20, 0.234);
}

.new1 h3 span {
    font-size: 0.8em;
}

.new1 p {
    margin: 5px 0;
    font-size: 0.8em;
    padding: 5px;
}

a.add {
    float: right;
    padding-right: 10px;
}

/*-----------------------------------------event------------------------------------------*/
#event0 {}

#event5 {
    clear: left;
    margin-top: 50px;
}




.eventcontents h3 {
    margin: 0;
}

.schedule {
    width: 20%;
    float: left;
    margin: auto 0;
}

.cale {
    border: 1px solid rgba(49, 39, 20, 0.24);
    margin: 15px;
}

span.month {
    background-color: #cfffe7;
    margin: 0;
    display: inline-block;
    width: 100%;
    text-align: center;
}

span.day {
    font-size: 2em;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.place {
    border: 1px solid rgba(49, 39, 20, 0.24);
    margin: 15px;
    text-align: center;

}

.eventcontents {
    width: 50%;
    float: left;

}

.eventimg {
    width: 30%;
    margin: 0;
    float: left;
    0918
}
